.auth_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40vw;
  background-color: #c3f6c3;
  box-shadow: 0 0 3px 3px rgba(167, 167, 167, 0.9);
  border-radius: 5px;
}
.general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8vh!important;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h1 {
  margin: 0;
  font-size: 2.8rem;
  text-shadow: 1px 1px 0px #3aa8d4;
}
.general .logo {
  background-image: url('../../../../back/public/images/logo.png');
  width: 80px;
  height: 80px;
  background-size: cover;
}
.auth_form h2{
  color: #baeeff;
  text-shadow: .5px .5px 0px #8b575c;
}
.auth_form span {
  color: #eb2682;
  text-shadow: .5px .5px 0px #baeeff;
  cursor: pointer;
}
.general p{
  text-shadow: .3px .3px 0px #45b1dc;
}
.auth_form span:hover {
  color: #baeeff;
}
.input_part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  width: 100%;
}
.input {
  width: 80%;
}
.submitBtn {
  border: none;
  display:flex;
  justify-content: center;
}
.submitBtn button {
  cursor: pointer;
  margin: 20px 10px;
  border-radius: 4px;
  background-color: #baeeff;
}
.submitBtn button:hover {
  background-color: #eb2682;
}
.input_part span {
  color: white;
  text-shadow: .5px .5px 0px #baeeff;
  cursor: pointer;
  font-size: 1rem
}
.css-1ff8729-MuiInputBase-root-MuiFilledInput-root:after {
  border-bottom: 2px solid #baeeff!important;
}
.css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color:#baeeff!important;
}
