*,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}

nav {
  float: left;
	position: relative;
	top: 0;
  left: 0;
	background: transparent;
  position:fixed;
  top:9.7vh;
  left:0;
  z-index: 2;
}
nav ul {
	text-align: center;
  padding:0;
  margin:0;
}

nav ul li {
	position: relative;
  width: 4vw;
  height: 8.2vh;
  cursor: pointer;
	text-transform: uppercase;
	transition:all .4s ease-out;
  display:flex;
  align-items:center;
  justify-content:center;
  border-bottom: 1px solid #4ba5c9;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
}
.material-symbols-outlined {
  font-size: 1.9rem;
  color: rgba(32, 32, 32, 0.9);
}

nav ul li:after {
	position: absolute;
	background: white;
	color: rgba(32, 32, 32, 0.9);
	top:0;
	left: 4vw;
	width: 5.8vw;
  height: 100%;
  opacity:.5;
  transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
  border-radius: 0 5px 5px 0;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: .65rem;
  letter-spacing: 0px;
  font-weight: 700;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
}
nav ul li:nth-child(1) {
  background: #B49FDC;
}
nav ul li:nth-child(2) {
  background: #FFC8FF;
}
nav ul li:nth-child(3) {
  background: #A0C4FF;
}
nav ul li:nth-child(4) {
  background: #C5EBFE;
}
nav ul li:nth-child(5) {
  background: #bbffe5;
}
nav ul li:nth-child(6) {
  background: #A5FBCE;
}
nav ul li:nth-child(7) {
  background: #FEFD97;
}
nav ul li:nth-child(8) {
  background: #FEC9A7;
}
nav ul li:nth-child(9) {
  background: #FA9189;
}
nav ul li:nth-child(10) {
  background: #AB9680;
}
nav ul li:nth-child(11) {
  background: #FFFFFC;
}

nav ul li:nth-child(1):after {
	content: "Cardiologie";
	height:  8.2vh;
}
nav ul li:nth-child(2):after {
	content: "Dermatologie";
	height:  8.2vh;
}
nav ul li:nth-child(3):after {
	content: "Gastro-Enterologie";
	height:  8.2vh;
}
nav ul li:nth-child(4):after {
	content: "Hématologie";
	height:  8.2vh;
}
nav ul li:nth-child(5):after {
	content: "Néphrologie";
	height:  8.2vh;
}
nav ul li:nth-child(6):after {
	content: "Neurologie";
	height:  8.2vh;
}
nav ul li:nth-child(7):after {
	content: "Oncologie";
	height:  8.2vh;
}
nav ul li:nth-child(8):after {
	content: "ORL";
	height:  8.2vh;
}
nav ul li:nth-child(9):after {
	content: "Pédiatrie";
	height:  8.2vh;
}
nav ul li:nth-child(10):after {
	content: "Urologie";
	height:  8.2vh;
}
nav ul li:nth-child(11):after {
	content: "Odontologie";
	height:  8.2vh;
}

nav ul li:hover {
	transform: translateX(-4vw);
}

nav ul li:hover:after {
  opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}


nav ul li > div {
	display: inline-block;
	padding: 25px 0;
	background: transparent;
}

nav ul li div { position: relative; }
