.cheats_container{
  height: 93vh;
  width: 69vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2vh 25.5vw 0 7.2vw  ;
}
.cheatCard_container{
  height: 12vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.cheat_cardIndex{
  margin: .8vh 0;
  height: 22vh;
  width: 100%;
  display: flex!important;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: black;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
  transition: all .3s ease-out;
}
.cheat_cardIndex img{
  height: 100%;
  width: 30%;
  object-fit: cover;
  object-position: center;
  transition: all .3s ease-out;
  overflow: hidden;
}
.cheat_cardDescription{
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2vh;
  margin: 0;
  color: black;
}
.cheat_cardDescription h2{
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-align: left;
  text-shadow: .5px .5px 0px #eb2682;
  letter-spacing: 0px;
}
.cheat_cardDescription p{
  font-size: .8rem;
  margin: 0;
  padding: 0;
  text-align: left;
  letter-spacing: 0px;
  line-height: .8rem;
  padding-top: 10px;
  text-transform: justify;
}
.init_cheat {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-left: 5%;
}
.init_cheat::after {
  display: none;
}
.cheat_creator{
  color: #4187a3;
  font-size: .65rem!important;
  font-weight:700;
}
.cheat_created{
  color: #baeeff;
  font-weight:700;
  font-size: .65rem!important;
}
.blurIndex{
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.4);
}
.bookIndex{
  position:absolute;
  top: 15px;
  height: 10%;
  width: 5%;
  right: 1%;
  color:#baeeff;
  cursor : cell;
  font-weight: 700;
  opacity: .8;
  transition: all .3s ease-out;
  z-index: 5;

}
.addBookIndex:hover{
  color: #eb2682;
  opacity: 1;
}
.cheat_cardIndex:hover {
  transform: scale(1.01);
}
.cheat_cardIndex:hover .blurIndex{
  background-color: rgba(0, 0, 0, 0);
}
.inputCategory .css-sghohy-MuiButtonBase-root-MuiButton-root{
  background: transparent!important;
  box-shadow: none!important;
  position: absolute!important;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
  top: -12px!important;
  left: -12px!important;
}
.inputCategory .css-sghohy-MuiButtonBase-root-MuiButton-root.resetCategoryBtn{
  top: 1px!important;
  left: -12px!important;
}
.inputCategory .css-sghohy-MuiButtonBase-root-MuiButton-root.searchCategoryBtn{
  top: 0!important;
  right: -66px!important;
}
.inputCategory .css-sghohy-MuiButtonBase-root-MuiButton-root.searchCategoryBtn:hover {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4)!important;
}

.inputCategory .css-sghohy-MuiButtonBase-root-MuiButton-root.searchCategoryBtn span {
  font-size: 2rem!important;
}
.addBookIndex{
  color: #eb2682;
}
.deleteBookIndex{
  color: #102465;
}
.goToShow{
  height: 78%;
  width: 100%;
  position: absolute;
  align-self: flex-end;
  cursor: pointer;
}
