#categories-multiselect {

  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color : #fff;
}

#categories-multiselect .multiselect__tags {
  padding: 5px 10px;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #fff;
}



/* // enleve tous les styles quand on clique sur le champ */
.css-1d3z3hw-MuiOutlinedInput-notchedOutline:hover {
  display: none;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: rgba(0, 0, 0, 0.5);
  color : #fff;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
        display: flex !important;
        justify-content: center;
        align-items: center !important;
        width: 100% !important;
        height: 45px  !important;
        position: absolute;
        top: -22px !important;
        left: -12px !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root:focus-visible, .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root:focus, .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root:hover, .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  top: -15px !important;
  left: -12px !important;
}

#categories-multiselect .multiselect__select {
  background-color: rgba(0, 0, 0, 0.5);
  color : #fff;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}
