#categories-multiselect {

  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 10px 10px 40px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color : #fff;
}

#categories-multiselect .multiselect__tags {
  padding: 5px 10px;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #fff;
}

/* // enleve tous les styles quand on clique sur le champ */
.css-1d3z3hw-MuiOutlinedInput-notchedOutline:hover {
  display: none;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: rgba(0, 0, 0, 0.5);
  color : #fff;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
        display: flex !important;
        justify-content: center;
        align-items: center !important;
        height: 45px  !important;
        position: absolute;
        top: -17px !important;
        left: 25px !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root:focus-visible, .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root:focus, .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root:hover, .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  top: -12px !important;
  left: -12px !important;
}

#categories-multiselect .multiselect__select {
  background-color: rgba(0, 0, 0, 0.5);
  color : #fff;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}
.searchByCategory {
  display: flex;
  margin : 8vh 0 0 10vw;
  justify-content: flex-start;
  align-items: center;
  width: 62%;
  height: 45px;

}
.inputCategory{
  width: 20vw;
  position: relative;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  width: 100% !important;
}
.MuiFormControl-root.css-1f4ug3e-MuiFormControl-root{
  display: flex;
  width: 100%;
  flex-direction:row;
  justify-content: flex-start;
  align-items: flex-start;
}
.searchByCategory .css-sghohy-MuiButtonBase-root-MuiButton-root{
  padding: 4.8px 0;
  width: 20px!important;
  background-color: #baeeff;
  opacity:.8;
  transition: all .4s ease-out;
}
.searchByCategory .css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #eb2682;
  opacity:1;
}
.searchByCategory .css-8je8zh-MuiTouchRipple-root{
  width:25px
}
.searchByCategory .createCheat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17vw;
  height: 35px;
  margin-top: 5px;
}
.searchByCategory .createCheat button {
  background-color: #baeeff;
  margin-bottom: 5px;
  opacity: .6;
  transition: all .3s ease-out;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
  width: 100% !important;
  font-size: .8rem;
  height: 100%;
  padding: 0 10px;
  color:#fff;
  padding: 5px;
}
.createCheat button:hover{
  opacity: 1;
  background-color: #3886a0;
}
