.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  background-color: rgba(179, 179, 179, 0.2);
  border-bottom: 1px solid #e6e6e6;
  padding-left: 20px;
  position: fixed;
  width: 100%;
  z-index: 3;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.4);
}

.logoNav {
  background-image: url("../../../../back/public/images/logonav.png");
  width: 70px;
  height: 70px;
  background-size: cover;
  opacity: 0.8;
  transition: all 0.3s ease-out;
  margin-left: 20px
}
.logoNav:hover {
  opacity: 1;
}

.navigation-bar__logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 15%;
  justify-content: space-around;
  cursor: pointer;
  overflow: hidden;
}
.navigation-bar__logo p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #74d2c1;
  text-shadow: 0.5px 0.5px 0px #972e78;
  transition: all 0.3s ease-out;
}
.currentAvatar {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #baeeff;
  background-color: #ffffff;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 1px 1px rgb(0 0 0 / 50%);
}
.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 50%;
}
.searchBar::after{
  display:none;
}
.navigation-bar__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 30%;
}

.navigation-bar__menu > ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  height: 100%;
  margin-top: 20px;

}

.navigation-bar__menu > ul > li {
  cursor: pointer;
  height: 80%;
  color: white;
  opacity: 0.8;
  transition: all 0.3s ease-out;
  padding-top: 14px;
  font-size: 1.2rem;
  text-shadow: 0.5px 0.5px 0px #88daf5;
}
.navigation-bar__menu > ul > li:hover {
  opacity: 1;
  color: #eb2682;
  border-bottom: 3px solid #eb2682;
  text-shadow: 0.5px 0.5px 0px #972e78;
  font-weight: 700;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 2px solid #c6f3c6;
  box-shadow: 0 0 1px 1px rgba(167, 167, 167, 0.9);
}

.settings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 40%;
  align-self: flex-end;
  justify-self: flex-end;
}

.avatarUser {
  margin-left: 17vw;
}
.auth{
  display: flex;
  margin-left: 2vw;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 40%;
  align-self: flex-end;
  justify-self: flex-end;
}
.auth::after{
  display:none;
}
.navigation-bar::after{
  display:none;
}
.auth button {
  color: white;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
